@import "apprise-ui/common.scss";

.board-message {

    display: flex;
    padding: 15px 0;

    .message-sidebar {

        flex-shrink: 0;
        margin-right: 12px;
        min-width: 1px;
    }

    .message-main {

        flex: 1 1 auto;
        display: flex;
        flex-direction: column;


        .message-topic-row {

            height: 22px; 
            overflow: hidden;

            display:flex;
            
            align-items: center;
            white-space: nowrap;
            
            font-variant: small-caps;

            .message-topic + .message-topic {
                margin-left: 15px;                
            }
            
        }

        .message-metadata-row  {
        
            display: flex;
            align-items: center;
            white-space: nowrap;

            height: 22px; 

            font-size: 12px;

            .message-author {
                    color: $text-color-lighter;
                }

            .message-date {
                margin-left: 8px;
                color: lighten($text-color-lighter,10);
            }

           
        }


        .message-content {

            margin: 5px 0;
            flex-grow: 1;

            white-space: pre-wrap;

            display: flex;
            flex-direction: column;
            
            font-size: small;
            
            .message-content-reply {
                margin: 0 10px 10px 10px;
                background: lighten($text-color-tinted, 5);
            }
        }

        .message-bottombar {
            display: flex;
            align-items: center;

            button span {

                margin: 0;
                
            }
            button:not(:hover) {
                color: $text-color-lighter;
            }
            
            * {
                font-size: 11px;
            }

            .message-action + .message-action {
                margin-left: 10px;
            }

            .message-action {

    
                svg {
                    font-size: smaller;
                    margin-right: 3px;
                }
            }


        }
    }

    &.own-message {
        .message-content {
            background: lighten($text-color-tinted, 8);
            border-left: 2px solid $primary-color;
            border-radius: 4px;
            padding: 10px;
        }
    }

    &.message-with-reply {
        .message-content {
            // background: lighten($text-color-tinted, 8);
            border-left: 2px solid $primary-color;
            border-radius: 4px;
            padding: 10px;
        }
    }
}


