@import "apprise-ui/common.scss";

.message-list {

    height: 100%;
    width:100%;

    position: relative;

    .list-contents {
        flex-grow: 1;
        width: 100%;
    }

    .indicator {


        position: absolute;
        right: 30px;
        z-index: 100;


        &.active {
            opacity: 1;
        }

        opacity: 0;
        transition: opacity 0.5s;

        button {

            width: 28px;
            height: 28px;
            border: none;
            padding-left: 6px;
            padding-right: 0px;
            border: 1px solid $primary-color;
            border-radius: 50%;


            color: $primary-color;
        }
    }

    .nodata {
        height: 50%; // centers content in flex parent.
    }



    .scroll-indicator {

        top: 15px;

    }

    .unseen-indicator {

        top: 55px;



    }




    .batch-loader {

        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;


        z-index: 100;

        padding: 10px 20px;
        


        opacity: 0;

        &.active {
            opacity: 1;
        }

        //border: 1px solid $text-color-selected;
        border-radius: 20px;
       
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -24px, rgba(0, 0, 0, 0.3) 0px 10px 25px -10px;

        background: rgba(255, 255, 255);

    
        color: $text-color-lighter;
        font-size: small;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        i {
            margin-right: 5px;
        }
    }
}