@import "apprise-ui/common.scss";


.board-editor {

    display: flex;


    &.editor-placeholder {

        justify-content: flex-end;

    }

    .editor-content {

        flex-grow: 1; // stretches as wide as buttons allow

        display: flex;
        flex-direction: column;

        .editor-reply {

            flex-grow: 1;

            padding-top: 5px; // aligns with clear icon.
            padding-bottom: 10px;

            max-height: 80px;
            overflow: auto;
        }

        .reply-clear {
            margin-left: 20px;
        }

        textarea {
            resize: none; // no manual resize.
        }
    }

    .editor-btns {
        align-self: flex-end; // button remain along the baseline if input height grows.
        margin-left: 2px;
    }

}