@import "apprise-ui/common.scss";


.message-board {

    height: 100%;

    display: flex;
    flex-direction: column;


    .messages {

        flex-grow: 1;
    }





    .board-bottom-bar {

        display: flex;
        align-items: center;

        .board-action-trigger {

            margin-left: 2px;
            align-self: end;

            button {

                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;


                padding: 0px;
            }
        }

        .board-editor {

            flex-grow: 1;
        }
    }

    .board-actions {


        opacity: 0;

        pointer-events: none;

        &.active {

            pointer-events: all;
            opacity: 1;
        }



        margin-top: 30px;
        margin-bottom: 10px;

        display: flex;
        justify-content: center;

        .apprise-button {

            background-color: $text-color-selected;
            border-radius: 10px;
            padding: 0px 20px;

        }

        button {


            font-variant: small-caps;
            text-transform: lowercase;

            &:not(:hover):not(:disabled) {
                color: $text-color-lighter
            }

            font-size: 11px;

        }
    }

}