

@import "apprise-ui/common.scss";

.message-reply {

    border: 1px solid $text-color-tinted;
    border-radius: 4px;
    border-left: 2px solid $app-color;
    background: lighten($text-color-tinted, 8);
    padding: 10px;
    color: $text-color-lighter;

    margin-bottom: 3px;

    display: flex;
    align-items: flex-start;

    .reply-main {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        padding-top: 5px; // aligns with clear icon.
        padding-bottom: 10px;

        .reply-author {
            color: $app-color;
            margin-bottom: 3px;
        }
    }

    .reply-actions {
        margin-left: 20px;
    }
}